body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
    margin: 0;
    padding: 0;
}

header {
    background: green;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile-card {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: grid;
  
}

.profile-card input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.skills-inputs {
    list-style: none;
    padding: 0;
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
   
  
}

button:hover {
    background: #335edc;
}

/* Popup Styling */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#popupSkills {
    margin: 10px 0;
    padding-left: 20px;
}